$white: #DEDEDE;
$orange: #E4A317;
$light-orange: lighten($orange, 10%);
$blue: #309BD7;
$light-blue: lighten($blue, 10%);
$light-gray: #9EA4A7;
$medium-gray: #3E4243;
$dark-gray: #2F3233;
$black: #1B1C1D;
$error-color: #f86762;
$light-curtain: rgba($black, 0.7);
$dark-curtain: rgba($black, 0.9);
$clear: #FFFFFF00;

$main-font: 'Spline Sans', sans-serif;
$mono-font: 'Cousine', monospace;

$spacer: 40px;
$gutter: 15px;

$mobile-width: 400px;
$medium-width: 740px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $main-font;
    
    color: $light-gray;
}

body {
    background-color: $black;
    border-top: 15px solid $orange;
}

.content {
    width: min(710px, 100vw - 2 * $gutter);
    margin: auto;
}

a, .linky-button {
    text-decoration: none;
    color: $white;
}

.hover-orange, .hover-blue {
    color: $white;

    &:hover {
        transition: color 0.3s;
    }
}

.hover-orange:hover {
    color: $orange;
}

.hover-blue:hover {
    color: $blue;
}

.linky-button {
    display: inline-block;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.nice-button {
    font-family: $main-font;
    font-weight: bold;
    background-color: $orange;
    color: $black;
    font-size: 28px;
    border: none;
    border-radius: 25px;
    padding: 25px;
    cursor: pointer;
    transition: 0.5s background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    & > * {
        color: $black !important;
    }

    &:enabled:hover {
        background-color: $light-orange;
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.small-button {
    font-size: 18px;
    padding: 6px 18px;
}

.blue-button {
    background-color: $blue;

    &:enabled:hover {
        background-color: $light-blue;
    }
}

.content-box {
    background-color: $dark-gray;
    border-radius: 10px;
    margin-bottom: $spacer;
    padding: $spacer 50px;
}