@import 'App.scss';

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}