@import "App.scss";

.search-results-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 15px !important;
}

.results-counter {
    text-align: center;

    .results-count-label {
        font-size: 24px;
    }

    .results-count-number {
        font-size: 48px;
        color: $white;
        font-weight: bold;
    }
}

.download-results-button-wrapper {
    text-align: center;
}

.download-results-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-results-message {
    color: $white;
    font-weight: bold;
    font-size: 28px;
}

.no-results-icon {
    color: $blue;
    font-size: 72px;
    // margin-top: 
}