@import "App.scss";

.wordlist-list {
    text-align: center;
    padding: 25px;
}

.wordlist-list-label {
    font-size: 24px;
}

.wordlist-name {
    font-size: 48px;
    font-weight: bold;
    color: $white;
}

.wordlist-buttons {
    margin-top: 10px;
}

.wordlist-button {
    font-size: 18px !important;
    font-weight: bold;
    padding: 6px 18px !important;
}

.change-wordlist-button {
    margin-left: 16px;
}