@import "App.scss";

.wordlist-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    @media (max-width: $medium-width) {
        flex-direction: column;
        padding-bottom: 0px;
    }
}

#file-upload {
    display: none;
}

.wordlist-box {
    display: flex;
    border: none;
    min-width: 260px;
    min-height: 160px;
    align-items: center;
    position: relative;
    gap: 25px;
}

.wordlist-icon {
    height: 64px;
}

.dictionary {
    text-align: right;
    justify-content: flex-end;
}

.or {
    font-size: 36px;
    color: $white;
    font-weight: bold;

    @media (max-width: $medium-width) {
        margin: 25px;
        margin-top: calc(25px + 1rem);
    }
}

.upload-list-wrapper {
    position: relative;
}

.info-icon {
    color: $orange;
    margin-right: 6px;
}

.upload-info-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6px;
}

