/*         */
/* GENERAL */
/*         */

:root {
  --spacing-unit: 1rem;

  --darkblack: #222324;
  --curtaincolor: rgba(34, 35, 36, 0.7);
  --darkdarkblack: #101111;
  --lightblack: #2f383b;
  --lightlightblack: #3b494f;
  --blue: #23aee2;
  --lightblue: #83cee9;
  --orange: #f5a720;
  --lightorange: #f6cb7e;
  --white: #ecf1f4;
  --errorcolor: #ff2a23;
  --highlight: rgba(255, 255, 255, 0.4);

  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --logo-font: Oswald, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linky-button {
  display: inline-block;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.circled-number {
  border-radius: 50%;
  background: var(--orange);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 2rem;
  margin-right: calc(0.5 * var(--spacing-unit));
  color: var(--darkblack);
  vertical-align: baseline;
  text-align: center;
  display: inline-block;
}

a, .linky-button {
  color: currentColor;
  text-decoration: none;
}

.link-border {
  display: inline-block;
  border-bottom: 1px solid var(--highlight) !important;
}

a:hover, .linky-button:hover {
  opacity: 0.5;
  transition: 0.2s opacity;
}

.normal-button {
  appearance: none;
  background-color: var(--orange);
  border: none;
  border-radius: var(--spacing-unit);
  border-bottom: 5px solid var(--highlight);
  padding: 10px var(--spacing-unit);
  color: var(--darkblack);
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s background-color;
}

body {
  text-align: center;
  background-color: var(--darkblack);
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--white);
  font-size: 1.1em;
}

.accent {
  color: var(--orange);
}

.bold-accent {
  color: var(--orange);
  font-weight: 400;
}

/*        */
/* HEADER */
/* FOOTER */
/*        */

.title-logo {
  transform: scale(0.8);
  color: var(--orange);
  padding-right: calc(0.5 * var(--spacing-unit));
}

header, footer {
  position: relative;
  background-color: var(--lightblack);
  display: inline-block;
}

header {
  padding-top: calc(var(--spacing-unit) * 0.75);
  padding-bottom: calc(var(--spacing-unit) * 1.5);
}

footer {
  padding: var(--spacing-unit);
  opacity: 0.7;
  font-size: 0.8em;
  font-weight: normal;
}

footer > p:not(:last-child) {
  margin-bottom: calc(0.3 * var(--spacing-unit));
}

.copyright-line {
  font-weight: 600;
}

header:before, footer:before {
  display: block;
  position: absolute;
  left: calc(50% - 50vw);
  top: 0;
  height: 100%;
  width: calc(50vw - 50%);
  content: '';
  background-image: linear-gradient(to left, var(--lightblack), var(--darkblack));
}

header:after, footer:after {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: calc(50vw - 50%);
  content: '';
  background-image: linear-gradient(to right, var(--lightblack), var(--darkblack));
}

.header-wrapper {
  margin-bottom: calc(1.5 * var(--spacing-unit));
}

.title {
  font-family: var(--logo-font);
  font-weight: 200;
  font-size: 52pt;
  /* display: flex;
  align-items: center; */
}

.title-text {
  line-height: 1em;
}

.title-2 {
  font-weight: 500;
  color: var(--orange);
}

.title sup {
  display: inline-block;
  font-size: 1rem;
  vertical-align: text-top;
}

.subtitle {
  margin-bottom: calc(0.3 * var(--spacing-unit));
  font-weight: 600;
  font-size: 1.4em;
}

.subsubtitle {
  font-size: 1em;
  font-weight: 500;
}

.sub-header {
  /* background: var(--lightlightblack); */
  background-image: radial-gradient(circle at center, var(--lightlightblack), var(--lightblack));
  color: var(--white);
  padding: calc(0.3 * var(--spacing-unit));
  font-size: 1em;
}

.announcement-icon {
  padding: calc(0.2 * var(--spacing-unit));
  padding-right: calc(0.3 * var(--spacing-unit));
  color: var(--blue);
}

/*        */
/* UPLOAD */
/*        */

.first-instruction {
  text-align: center;
  width: 100%;
}

.error-message {
  color: var(--errorcolor);
  font-size: 0.8em;
  background: var(--darkblack);
  padding: calc(0.5 * var(--spacing-unit));
  margin: var(--spacing-unit);
  margin-top: 0;
}

.instruction, .field-label {
  font-size: 1em;
  color: var(--white);
  font-weight: 400;
  margin-bottom: calc(0.5 * var(--spacing-unit));
  font-family: var(--logo-font);
  font-size: 1.5em;
  font-weight: 200;
}

.wordlist-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(3 * var(--spacing-unit));
}

.or {
  margin: var(--spacing-unit);
  font-size: 1.6em;
}

.wordlist-box, .dictionary {
  display: flex;
  border: none;
  font: inherit;
  background: var(--orange);
  color: var(--darkblack);
  min-width: 260px;
  min-height: 160px;
  align-items: center;
  font-size: 1.6em;
  font-weight: 600;
  padding: calc(2 * var(--spacing-unit));
  border-radius: var(--spacing-unit);
  border-bottom: 8px solid var(--highlight);
  position: relative;
}

.wordlist-box:hover {
  cursor: pointer;
  transition: 0.3s background-color;
}

.upload-list:hover {
  background: var(--lightorange);
}

.dictionary {
  background: var(--blue);
}

.dictionary:hover {
  background: var(--lightblue);
}

#file-upload {
  display: none;
}

.upload-list-wrapper {
  position: relative;
}

.upload-info-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: calc(0.4 * var(--spacing-unit));
}

.wordlist-icon {
  font-size: 2em;
  padding: calc(0.3 * var(--spacing-unit));
}

.wordlist-label-upload {
  text-align: left;
  padding-left: var(--spacing-unit);
}

.wordlist-label-dictionary {
  text-align: right;
  padding-right: var(--spacing-unit);
}

.info-icon {
  color: var(--orange);
}

.wordlist-name-box {
  margin-bottom: calc(2 * var(--spacing-unit));
  margin-top: calc(2 * var(--spacing-unit));
  /* background: red; */
}

.wordlist-name {
  color: var(--orange);
  font-size: 2em;
  font-weight: 700;
}

.dictionary-name {
  color: var(--blue);
}

.modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--curtaincolor);
  z-index: 1000;
}

@keyframes expansion {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  animation: 0.2s ease 0s 1 expansion;
  background: var(--lightblack);
  z-index: 1001;
  padding: calc(1.5 * var(--spacing-unit));
  width: min(450px, 100vw);
  box-shadow: 0 0 50px 0px var(--darkdarkblack);
}

.modal-text {
  text-align: left;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.6em;
}

.modal-header {
  font-family: var(--logo-font);
  font-weight: 400;
  font-size: 2em;
}

.modal-header, .modal-text {
  margin-bottom: calc(1.5 * var(--spacing-unit));
}

.modal-text p {
  margin-bottom: var(--spacing-unit);
}



.modal-close-button {
  background-color: var(--orange);
}

.modal-close-button:hover {
  background-color: var(--lightorange);
}

/*        */
/* SEARCH */
/*        */

.search-curtain {
  position: absolute;
  display: block;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--curtaincolor);
}

.search-curtain-off {
  display: none;
}

.search-body-box, .search-results-box {
  position: relative;
  padding: calc(2 * var(--spacing-unit));
  background: var(--lightblack);
  display: inline-block;
  width: min(500px, 100vw);
  margin-bottom: calc(2 * var(--spacing-unit));
}

.select-instruction {
  text-align: left;
  padding-left: var(--spacing-unit);
}

select {
  appearance: none;
  background-color: var(--orange);
  border-radius: 5px;
  border: none;
  border-radius: var(--spacing-unit);
  border-bottom: 6px solid var(--highlight);
  padding: 10px var(--spacing-unit);;
  margin: 0;
  font-family: inherit;
  color: var(--darkblack);
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  line-height: inherit;
  transition: 0.3s background-color;
}

select:hover {
  background-color: var(--lightorange);
}

.select-wrapper {
  position: relative;
}

.arrow-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  pointer-events: none;
}

.select-arrow {
  color: var(--darkblack);
  font-size: 1.5em;
  margin-right: var(--spacing-unit);
  z-index: 400;
}

.option-description {
  padding: var(--spacing-unit);
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: left;
  color: var(--orange);
  font-weight: 500;
  background: var(--darkblack);
  margin-left: var(--spacing-unit);
  margin-right: var(--spacing-unit);
  margin-bottom: calc(2 * var(--spacing-unit));
}

.field-label {
  font-size: 1.25em;
  line-height: 1.25em;
  flex: 1 0 1;
  text-align: right;
  margin-right: var(--spacing-unit);
}

.input-row {
  display: flex;
  margin-left: var(--spacing-unit);
  margin-right: var(--spacing-unit);
}

.search-input-field {
  appearance: none;
  background-color: var(--white);
  padding: 5px;
  border: none;
  margin: 0;
  width: 0;
  font-size: 1em;
  line-height: inherit;
  margin-bottom: var(--spacing-unit);
  flex: 1;
}

.input-row:last-child .search-input-field {
  margin-bottom: calc(2 * var(--spacing-unit));
}

.search-button {
  appearance: none;
  background-color: var(--orange);
  border: none;
  border-radius: var(--spacing-unit);
  border-bottom: 6px solid var(--highlight);
  padding: 10px var(--spacing-unit);
  margin: 0;
  font-family: inherit;
  color: var(--darkblack);
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
  line-height: inherit;
  transition: 0.3s background-color;
  text-align: left;
}

.search-icon {
  padding-left: calc(1.5 * var(--spacing-unit));
}

.search-button:hover {
  background-color: var(--lightorange);
}

/*         */
/* RESULTS */
/*         */

.search-results {
  margin-top: var(--spacing-unit);
}

.results-sort-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.results-sort-wrapper:not(:last-child) {
  margin-right: var(--spacing-unit);
}

.results-sort-input {
  display: none;
}

.results-sort-label {
  margin-right: 0;
  font-weight: 400;
}

.results-sort-button {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--white);
  border-radius: 50%;
  margin-right: 5px;
}

.results-sort-input:checked ~ .results-sort-button {
  border: calc(1em / 3) solid var(--blue);
}

.results-list {
  text-align: left;
  display: grid;
  grid-template-columns: auto 1fr;
}

.results-list > * {
  background: var(--darkblack);
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 1px 0;
}

.results-item {
  color: var(--white);
  display: block;
  padding-left: calc(0.5 * var(--spacing-unit));
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 1px 0;
  overflow: hidden;
}

.results-item-text {
  max-width: 100%;
  display: inline;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.results-number {
  color: var(--highlight);
  font-weight: normal;
  font-size: 0.8em;
  text-align: right;
  font-family: var(--logo-font);
  padding-left: 3px;
}

.results-count-specifier {
  color: var(--blue);
  padding-bottom: var(--spacing-unit);
}

.results-counter {
  position: relative;
  display: inline-block;
  padding: 0 var(--spacing-unit);
}

.more-results-button {
  background: var(--blue);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.more-results-button:hover {
  background: var(--lightblue);
}

.prev-results-button {
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}

.next-results-button {
  left: 100%;
}

.download-results-button {
  margin-bottom: var(--spacing-unit);
}

.results-item:hover {
  background-color: var(--darkblack);
}

.no-results {
  margin-bottom: 0 !important;
}

.results-count-number {
  color: var(--blue);
  font-size: 2em;
  font-weight: 700;
  display: block;
}

.pair-divider {
  color: var(--blue);
}

.no-results-icon {
  font-size: 8em;
  padding: var(--spacing-unit);
  color: var(--blue);
  background-color: var(--darkblack);
  border-radius: 50%;
}

.no-results-message {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: var(--spacing-unit);
}

/*        */
/* MOBILE */
/*        */

@media (max-width: 600px) {
  .wordlist-choices {
    flex-direction: column;
  }

  .upload-info-wrapper {
    position: static;
    padding-bottom: none;
  }

  .or {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  header, footer {
    width: 100%;
    text-align: center;
  }

  body {
    font-size: 1em !important;
  }

  header:before, footer:before {
    display: none;
  }

  header:after, footer:after {
    display: none;
  }

  .sub-header {
    background-image: none;
    background: var(--lightlightblack);
  }

  .title {
    font-size: 46pt;
  }
  
  .sorting-label {
    margin-right: 0;
    display: block;
    text-align: center;
  }

  .more-results-button {
    position: static;
    transform: none !important;
    margin-bottom: var(--spacing-unit);
  }

  .more-results-button:last-child:not(:first-child) {
    margin-left: var(--spacing-unit);
  }
}